body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.navbar {
    background-color: #004080;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #0066cc;
}

.navbar a.active {
    background-color: #02a676;
}
main {
  flex: 1; /* Takes up remaining space */
}

.bottom-contact {
  text-align: center;
  margin-bottom: 20px;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}